body {
  height: 50vh;
  padding: 0;
  max-height: 30vh;
}

.container1 {
  height: 100%;
}

.container2 {
  height: 100%;
  align-content: flex-end;
}

.container3 {
  height: 100%;
  align-items: flex-end;
}

.navbar {
  display: flex;
  gap: 20px;
}

.footbar {
  display: flex;
  background-color: lightgray;
  height: 53px;
  padding: 0 10px;
  gap: 20px;
  align-items: center;
}

.grow {
  flex-grow: 1;
}
