* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* nav section */
nav {
  display: flex;
  color: grey;
  justify-content: space-between;
}

nav div.left {
  display: flex;
  padding: 10px;
}

nav div.right {
  display: flex;
  padding: 10px;
}

nav div.left a,
nav div.right a {
  margin: 10px;
}

/* hero section */
section {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-self: center;
  flex: 1;
}

div.btns img {
  align-self: center;
}

section input {
  width: 300px;
  padding: 5px;
  border-radius: 4px;
  margin: 4px;
  border: 1px solid black;
}

div.btns {
  align-self: center;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button:hover {
  cursor: pointer;
}

/* foot section */
footer {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  align-items: flex-start;
}

footer div.left,
footer div.right {
  display: flex;
  padding: 10px;
}

footer div.left a,
footer div.right a {
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}
